* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1{
    margin: 2rem auto;
    font-size: 40px;
    letter-spacing: 2px;
}

.players-scores{
    width: 600px;
    height: 120px;
    margin: 0 auto 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.reset-buttons{
    width: 600px;
    height: 50px;
    margin: 0 auto 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button{
    background-color: rgb(255, 221, 0);
    margin: auto;
    height: 100px;
    padding: 30px 0;
    width: 270px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 30px;
    font-weight: lighter;

}

.score-box{
    height: 100px;
    width: 80px;
    margin: auto .7rem;
    padding: .7em 0 0 0;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
}

.reset-button{
    background-color: lightblue;
    height: 45px;
    padding: 12px;
    margin: auto;
    width: 272px;
    font-size: 16px;
    font-weight: bold;

}

#game-board-container{
    width: 600px;
    height: 600px;
    margin: 0 auto 2rem auto;
    border-radius: 15px;
    /* border: 2px solid black; */
}

.game-board-rows{
    width: 600px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-tile{
    width: 170px;
    height: 170px;
    background-color: rgb(216, 231, 235);
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: auto;
    font-size: 40px;
}

.winner-pop-up{
    background-color: rgb(20, 136, 199);
    height: 300px;
    width: 400px;
    margin: auto;
    padding: 130px 0;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    font-size: 36px;
    font-weight: bolder;
    color: azure;
    border-radius: 20px;
}

.pop-up{
    display: none;
}